<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!--<form action="submit">-->
  <div class="page-container">
    <md-select [(ngModel)]="selectedItem"
               name="selectedItem"
               floatPlaceholder="never"
               required>
      <md-option></md-option>
      <md-option *ngFor="let type of exampleList " [value]="type">
        {{ type }}
      </md-option>

    </md-select>
  </div>

  <div class="page-container-small">
    <md-select [(ngModel)]="selectedItem2"
               name="selectedItem2"
               floatPlaceholder="never"
               required>
      <md-option></md-option>
      <md-option *ngFor="let type of exampleList " [value]="type">
        {{ type }}
      </md-option>

    </md-select>
  </div>

  <input type="text" [(ngModel)]="inputText" name="usrname" required>
<!--</form>-->

<bpa-form-test></bpa-form-test>
<bpa-form-test-two></bpa-form-test-two>
<router-outlet></router-outlet>
