//@import "../assets/material-select";

.page-container {
  margin: 20px;
}


.page-container-small {
  margin: 20px;
  max-width: 200px;
}


//.mat-select-trigger {
//  font-size: 35px
//}
//

//
//::ng-deep  .select-input-container .mat-input-underline{
//  display:none;
//}
//
//::ng-deep  .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
//  //color: rgba(0, 0, 0, .54)
//  display: none;
//}
//
//.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
//  //background-color: #673ab7
//  background-color: none;
//  display: none;
//}
//
//.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
//  //background-color: #ffd740
//  display: none;
//}
//
//.mat-select-invalid .mat-select-underline, .mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline {
//  //background-color: #f44336
//  display: none;
//}




//////////////////////////////////////////////
// ATTEMPT 1

//.page-container {
//  margin: 20px;
//}
//
//
//.page-container-small {
//  margin: 20px;
//  max-width: 200px;
//}
//
//::ng-deep .mat-select {
//  padding-top: 0px;
//  padding-left: 10px;
//  height: 35px;
//  width: 100%;
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//  border: solid 1px #CCCCCC;
//}
//
//::ng-deep .mat-select .mat-select-required{
//  border: solid 1px red;
//}
//
//::ng-deep .mat-form-field-required-marker {
//  display: none;
//  border: solid 1px red;
//}
//
//::ng-deep .mat-select-required .mat-select-placeholder::after {
//  display: none;
//  //content: '*';
//}
//
//.mat-select-trigger {
//  font-size: 35px
//}
//
//::ng-deep .mat-select-underline {
//  display: none;
//}
//
//::ng-deep  .select-input-container .mat-input-underline{
//  display:none;
//}
//
//::ng-deep  .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
//  //color: rgba(0, 0, 0, .54)
//  display: none;
//}
////
////.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
////  //background-color: #673ab7
////  background-color: none;
////  display: none;
////}
////
////.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
////  //background-color: #ffd740
////  display: none;
////}
////
////.mat-select-invalid .mat-select-underline, .mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline {
////  //background-color: #f44336
////  display: none;
////}
