<p>
  form-test works! should be a select below
</p>
<md-icon>chevron_left</md-icon>
<div class="page-container">
  <md-select [(ngModel)]="selectedItem"
             name="selectedItem"
             floatPlaceholder="never"
             required>
    <md-option></md-option>
    <md-option *ngFor="let type of exampleList" [value]="type">
      {{ type }}
    </md-option>

  </md-select>
</div>


<div class="page-container">
  <md-input-container>
    <span class="righthand-select-icon" >
      <md-icon class="arrow-up">arrow_drop_up</md-icon>
      <md-icon class="arrow-down">arrow_drop_down</md-icon>
    </span>
    <md-select [(ngModel)]="selectedItem3"
               name="selectedItem"
               floatPlaceholder="never"
               required>
      <md-option></md-option>
      <md-option *ngFor="let type of exampleList" [value]="type">
        {{ type }}
      </md-option>
    </md-select>
  </md-input-container>
</div>
