<p>
  form-test works! should be a select below
</p>
<!--<md-icon>chevron_left</md-icon>-->

<form (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" #f="ngForm">

  <div class="page-container">
    <md-select [(ngModel)]="selectedItem"
               name="selectedItem"
               floatPlaceholder="never"
               required>
      <md-option></md-option>
      <md-option *ngFor="let type of exampleList" [value]="type">
        {{ type }}
      </md-option>

    </md-select>
  </div>


  <div class="page-container">
    <div>
      <label>Select this</label>
    </div>
    <md-input-container>
      <span class="righthand-select-icon" >
        <md-icon class="arrow-up">arrow_drop_up</md-icon>
        <md-icon class="arrow-down">arrow_drop_down</md-icon>
      </span>
      <md-select [(ngModel)]="selectedItem3"
                 name="selectedItem3"
                 floatPlaceholder="never"
                 required>
        <md-option></md-option>
        <md-option *ngFor="let type of exampleList" [value]="type">
          {{ type }}
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <p>form is valid: {{f.valid}}</p>
  <p>form is dirty: {{f.dirty}}</p>
  <p>form is touched: {{f.touched}}</p>

</form>
