.mat-select {
  padding-top: 3px;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  border: solid 1px #CCCCCC;
  background: white;

  // Remove material select underline style
  ::ng-deep .mat-select-underline {
    display: none;
  }

  // Add default focus ring to material select component
  &:focus:not(.mat-select-disabled) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
  }
}

// Remove required * from select box
::ng-deep .mat-select-required .mat-select-placeholder::after {
  display: none;
  //content: '*';
}

// Remove material select arrow icon
::ng-deep .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
  display: none;
}

// Dropdown option selected text
::ng-deep .mat-primary .mat-option.mat-selected {
  color: black;
}

// Dropdown option focus background
.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 255, 0, .5)
}

// Invalid and touched style for matrial select component
.mat-select.ng-invalid.ng-touched {
  background-color: #FAE6E6;
  border: 1px solid #CC0000;
  color: #CC0000;
}

// Up/Down arrow combined icon for material select component
.righthand-select-icon {
  z-index: 0;
  float: right;
  position: relative;
  bottom: -7px;
  right: -40px;
  cursor: pointer;
  height: 0;

  .arrow-up {
    position: relative;
    bottom: 3px;
    color: #555555;
  }

  .arrow-down {
    position: relative;
    right: 28px;
    top: 3px;
    color: #555555;
  }
}

//::ng-deep .mat-select-invalid .righthand-select-icon, .mat-select-invalid .mat-select-trigger, .mat-select:focus:not(.mat-select-disabled).mat-warn .righthand-select-icon, .mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-trigger {
//  color: #f44336
//}


//.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
//  color: darkorange;
//  background: darkorange;
//}

//.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
//  background-color: #ffd740
//}

//.mat-select:focus:not(.mat-select-disabled).mat-accent {
//  background-color: #ffd740
//  border: solid 2px darkorange;
//}




//input.ng-invalid.ng-touched {
//  background-color: #FAE6E6;
//  border: 1px solid #CC0000;
//  color: #CC0000;
//}









