.mat-select {
  padding-top: 0;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: solid 1px #CCCCCC;

  .ng-invalid.ng-touched {
    background-color: #FAE6E6;
    border: 1px solid #CC0000;
    color: #CC0000;
  }

  ::ng-deep .mat-select-underline {
    display: none;
  }

  // Add default focus ring to material component
  &:focus:not(.mat-select-disabled) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
  }
}

//.md-select-value .md-select-icon:after {
//  font-family: Material Icons;
//  font-size: 24px;
//  content: 'keyboard_arrow_down';
//  display: inline;
//  top: 5px;
//  transform: scale(1);
//  font-feature-settings: 'liga'; /* Support for IE. From material-icons.css. */
//}

// Remove required * from select box
::ng-deep .mat-select-required .mat-select-placeholder::after {
  display: none;
  //content: '*';
}

.mat-select.ng-invalid.ng-touched {
  background-color: #FAE6E6;
  border: 1px solid #CC0000;
  color: #CC0000;
}

//.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
//  color: darkorange;
//  background: darkorange;
//}

//.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
//  background-color: #ffd740
//}

//.mat-select:focus:not(.mat-select-disabled).mat-accent {
//  background-color: #ffd740
//  border: solid 2px darkorange;
//}




input.ng-invalid.ng-touched {
  background-color: #FAE6E6;
  border: 1px solid #CC0000;
  color: #CC0000;
}

::ng-deep .md-select-value .md-select-icon {
  background: #fff url("http://via.placeholder.com/20x20") no-repeat 90% 50%;
  color: white;
  text-align: left;
  margin: 0 0 0 0;
}

////::ng-deep
//.mat-select-required .mat-select-placeholder::after {
//  display: none;
//  //content: '*';
//}

//::ng-deep
.mat-select-underline {
  display: none;
}

//::ng-deep
.mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
  display: none;
}

// Dropdown option selected text
//::ng-deep
.mat-primary .mat-option.mat-selected {
  color: green;
}

// Dropdown option focus background
.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
  background: rgba(222, 0, 0, .22)
}


md-input-container.md-icon-float > md-icon + md-select {
  margin-left:36px;
}

md-input-container.md-icon-float.md-input-has-value > md-icon + md-select {
  padding-top:24px;
}


md-input-container > md-icon + md-select {
  margin-left: 36px;
}
