


.auto-complete-container {
  //height:30px;
  //width:300px;
  position:relative;

  input {
    height:35px;
    width: 100%;
    margin:0;
    padding-left: 9px;
    //border: none;
    border: 1px solid #CCCCCC;
  }

  input.ng-invalid.ng-touched {
    background-color: #FAE6E6;
    border: 1px solid #CC0000;
    color: #CC0000;
  }

  .input-right-icons {
    height:35px;
    position:absolute;
    right:-42px;
    top:8px;

    .arrow-up {
      position: relative;
      bottom: 3px;
      color: #555555;
    }

    .arrow-down {
      position: relative;
      right: 28px;
      top: 3px;
      color: #555555;
    }

  }

}

// Dropdown option selected text
::ng-deep .mat-primary .mat-option.mat-selected {
  color: orangered;
}

// Dropdown option focus background
::ng-deep .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 255, 0, .5)
}

//::ng-deep .mat-autocomplete-panel {
//  background: #fff;
//  color: rgba(0, 255, 0, .5)
//}

::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
  background: rgba(0, 255, 0, .5);
  //color: rgba(0, 255, 0, .5)
  color: rgba(0, 0, 0, .87)
}

::ng-deep .mat-option.mat-selected:not(.mat-option-multiple) {
  //background: rgba(0, 0, 0, .04)
  background: rgba(0, 255, 0, .25);
}

::ng-deep .mat-option.mat-active {
  background: rgba(0, 255, 0, .5);
  color: rgba(0, 0, 0, .87)
}
