/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background-color: #F2F2F2;
}
